# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

In [1]:
import pandas as pd

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
recipes = pd.read_csv('recipes_sample.csv')

reviews = pd.read_csv('reviews_sample.csv')

In [3]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [4]:
reviews['rating']

0         5
1         5
2         4
3         5
4         5
         ..
126691    4
126692    0
126693    5
126694    5
126695    5
Name: rating, Length: 126696, dtype: int64

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
# for recipes

print('кол-во строк:', len(recipes['name']))
print('кол-во столбцов:', len(recipes.columns))
print('тип данных каждого столбца:', recipes.dtypes)

кол-во строк: 30000
кол-во столбцов: 8
тип данных каждого столбца: name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [6]:
# for reviews

print('кол-во строк:', len(reviews['user_id']))
print('кол-во столбцов:', len(reviews.columns))
print('тип данных каждого столбца:', reviews.dtypes)

кол-во строк: 126696
кол-во столбцов: 6
тип данных каждого столбца: Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [7]:
recipes.isna()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,False,False,False,False,False,True,False,False
1,False,False,False,False,False,True,False,True
2,False,False,False,False,False,True,False,False
3,False,False,False,False,False,True,False,True
4,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,True,False,False
29997,False,False,False,False,False,True,False,True
29998,False,False,False,False,False,True,False,True
29999,False,False,False,False,False,False,False,False

In [8]:
recipes1 = recipes.copy()

In [9]:
for col in recipes1:
    print(pd.unique(recipes1[col].isna()))

[False]
[False]
[False]
[False]
[False]
[ True False]
[False  True]
[False  True]

In [10]:
recipes1.isna().sum()

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [21]:
len(recipes1[recipes1.isna().any(axis=1)])/len(recipes1['name'])

0.5684666666666667

In [22]:
recipes1.isna().any(axis=1)

0         True
1         True
2         True
3         True
4         True
         ...
29995    False
29996     True
29997     True
29998     True
29999    False
Length: 30000, dtype: bool

In [23]:
# for reviews
reviews.isna()

        Unnamed: 0  user_id  recipe_id   date  rating  review
0            False    False      False  False   False   False
1            False    False      False  False   False   False
2            False    False      False  False   False   False
3            False    False      False  False   False   False
4            False    False      False  False   False   False
...            ...      ...        ...    ...     ...     ...
126691       False    False      False  False   False   False
126692       False    False      False  False   False   False
126693       False    False      False  False   False   False
126694       False    False      False  False   False   False
126695       False    False      False  False   False   False

[126696 rows x 6 columns]

In [24]:
reviews1 = reviews.copy()

In [25]:
for col in reviews1:
    print(pd.unique(reviews1[col].isna()))

[False]
[False]
[False]
[False]
[False]
[False  True]

In [26]:
reviews1.isna().sum()

Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64

In [27]:
reviews1[reviews1.isnull().any(axis=1)]

        Unnamed: 0     user_id  recipe_id        date  rating review
8881         56957  2001567544       9054  2017-06-03       5    NaN
12129       273481  2002120930     167202  2018-04-18       4    NaN
18578        56955  2001508809       9054  2017-04-26       5    NaN
21913       783599  2001959957     335709  2018-01-28       5    NaN
33232      1089381  2002299388      15553  2018-10-13       4    NaN
42783       266359  2002060663     107786  2018-03-18       5    NaN
42855      1078013  2001346906     522925  2017-01-11       4    NaN
43551       841853  1800574364     391660  2018-08-22       5    NaN
53998      1020267  2002005298     245231  2018-02-22       5    NaN
55100        56966  2001826405       9054  2017-11-26       5    NaN
56197      1096338  2001658714     155430  2017-08-05       5    NaN
59803       633479  2002252901      25190  2018-08-29       5    NaN
67973       270484  2001779476       3662  2017-11-05       4    NaN
71067       303674  2001785348     524744  2017-11-26       5    NaN
96199       510473  2002057405      89207  2018-03-17       5    NaN
105206      774321  2001380233     128956  2017-02-05       5    NaN
109590       26786  1803237930      86868  2018-03-20       5    NaN

In [28]:
len(reviews1[reviews1.isnull().any(axis=1)])/len(reviews1['user_id'])

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [29]:
recipes[['minutes', 'n_steps','n_ingredients']].mean()

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [30]:
reviews[['rating']].mean()

rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [31]:
sr1 = pd.Series(recipes['name'].sample(n = 10))
sr1

4151                         butter bundt cake
12395         grandma rose s regal carrot cake
3047            bill s swordfish salsa supreme
5355                          chefs salad bowl
4095             bulgur with crimini mushrooms
20534                           peppy bean dip
7976            cranberry streusel coffee cake
23205    salmon and spinach with tartare cream
29006                     warm christmas punch
13687                    herbed salmon fillets
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [32]:
# сделано при чтении файла автоматически

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [33]:
recipes3 = recipes.copy()
recipes3 = recipes3[(recipes3['minutes'] <= 20) & (recipes3['n_ingredients'] <= 5)]
recipes3

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [34]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'], format="%Y-%m-%d")
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [35]:
recipes4 = recipes.copy()
recipes4 = recipes4.query("'2010-01-01' <= submitted")
recipes4

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [36]:
recipes["description_length"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [37]:
recipes["description"].str

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [38]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [41]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [42]:
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [43]:
recipes["name"].str.split()

0            [George, S, At, The, Cove, Black, Bean, Soup]
1                  [Healthy, For, Them, Yogurt, Popsicles]
2                     [I, Can, T, Believe, It, S, Spinach]
3                                  [Italian, Gut, Busters]
4           [Love, Is, In, The, Air, Beef, Fondue, Sauces]
                               ...
29995    [Zurie, S, Holey, Rustic, Olive, And, Cheddar,...
29996             [Zwetschgenkuchen, Bavarian, Plum, Cake]
29997      [Zwiebelkuchen, Southwest, German, Onion, Cake]
29998                                       [Zydeco, Soup]
29999         [Cookies, By, Design, Cookies, On, A, Stick]
Name: name, Length: 30000, dtype: object

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [44]:
recipes['id'].groupby(recipes['contributor_id']).count()

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

In [45]:
recipes['id'].groupby(recipes['contributor_id'])

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [46]:
a = reviews['rating'].groupby(reviews['recipe_id']).mean()

In [47]:
a

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [48]:
a.index

Int64Index([    48,     55,     66,     91,     94,    128,    148,    153,
               176,    181,
            ...
            536066, 536098, 536212, 536360, 536473, 536547, 536610, 536728,
            536729, 536747],
           dtype='int64', name='recipe_id', length=28100)

In [49]:
len(pd.unique(reviews['recipe_id']))

28100

In [50]:
#нет рецептов с отсутствующим отзывом

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [51]:
recipes['id'].groupby(recipes['submitted'].map(lambda x: x.year)).count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [52]:
reviews1 = reviews.copy()

In [53]:
reviews1 = reviews1[(reviews1['review'].isnull() == False) & (reviews1['rating'].isnull() == False) & (reviews1['date'].isnull() == False) & (reviews1['recipe_id'].isnull() == False) & (reviews1['user_id'].isnull() == False) & (reviews1['Unnamed: 0'].isnull() == False)]

In [54]:
reviews1

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [55]:
recipes7 = recipes.copy()

In [56]:
recipes7

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [57]:
b = recipes7.merge(reviews1, left_on = 'id', right_on = 'recipe_id', how = 'inner')

In [58]:
b

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,Unnamed: 0,user_id,recipe_id,date,rating,review
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920960,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920958,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920957,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897580,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897579,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126674,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493812,305531,486161,2013-07-18,5,Delish! I made this as directed but used a smo...
126675,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493330,1271506,486161,2012-09-10,5,Now the only substitution I made was African B...
126676,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493813,724631,486161,2014-01-07,5,"Very tasty soup, moderate spiciness (even afte..."
126677,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493811,133174,486161,2013-07-18,5,Very yummy indeed. A spicy sausage was used i...
126678,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7,949985,804234,298512,2008-05-02,1,I would rate this a zero if I could. I followe...

In [59]:
b.drop(b.columns[[2,3,4,5,6,7,8,9,10,12,13,15]], axis = 1, inplace = True)

In [60]:
b

                                          name      id  user_id  rating
0        George S At The Cove  Black Bean Soup   44123   743566       5
1        George S At The Cove  Black Bean Soup   44123    76503       5
2        George S At The Cove  Black Bean Soup   44123    34206       5
3           Healthy For Them  Yogurt Popsicles   67664   494084       5
4           Healthy For Them  Yogurt Popsicles   67664   303445       5
...                                        ...     ...      ...     ...
126674                             Zydeco Soup  486161   305531       5
126675                             Zydeco Soup  486161  1271506       5
126676                             Zydeco Soup  486161   724631       5
126677                             Zydeco Soup  486161   133174       5
126678  Cookies By Design   Cookies On A Stick  298512   804234       1

[126679 rows x 4 columns]

In [348]:
for col in b:
    print(pd.unique(b[col].isnull()))

[False]
[False]
[False]
[False]

In [349]:
for col in b:
    print(pd.unique(b[col]))

['George S At The Cove  Black Bean Soup'
 'Healthy For Them  Yogurt Popsicles' 'I Can T Believe It S Spinach' ...
 'Zwiebelkuchen   Southwest German Onion Cake' 'Zydeco Soup'
 'Cookies By Design   Cookies On A Stick']
[ 44123  67664  38798 ... 103312 486161 298512]
[    743566      76503      34206 ...    1711977 2002179144     804234]
[5 3 4 0 1 2]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [350]:
recipes9 = recipes.copy()

In [351]:
reviews9 = reviews[['rating','recipe_id']]

In [352]:
c = recipes9.merge(reviews9, left_on = 'id', right_on = 'recipe_id', how = 'inner')
c

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,rating,recipe_id
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,5,44123
1,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,5,44123
2,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,5,44123
3,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,5,67664
4,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,5,67664
...,...,...,...,...,...,...,...,...,...,...,...,...
126691,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,5,486161
126692,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,5,486161
126693,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,5,486161
126694,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,5,486161
126695,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7,1,298512

In [353]:
c['rating'].groupby(c['submitted'].map(lambda x: x.year)).mean()

submitted
1999    4.274895
2000    4.284585
2001    4.393945
2002    4.404645
2003    4.439152
2004    4.463778
2005    4.409687
2006    4.416310
2007    4.420073
2008    4.387416
2009    4.360447
2010    4.406279
2011    4.375850
2012    4.412736
2013    4.336508
2014    4.538235
2015    4.207317
2016    3.538462
2017    2.750000
2018    3.388889
Name: rating, dtype: float64

In [354]:
#2014

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [358]:
recipes10 = pd.DataFrame(recipes)
e = recipes10.sort_values(by = 'name_word_count', ascending=False)
e.to_csv('TOBD#61', sep='\t')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3